# Python
__pycache__/
*.pyc
*.pyo

# Notebooks
.ipynb_checkpoints/

# Models and Checkpoints
*.pt
*.ckpt
*.bin
*.safetensors
models/
checkpoints/

# Datasets and Outputs
*.csv
*.json
*.jsonl
*.log
outputs/
tmp/